@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
body {
    margin: 0px;
}
#KR {
    margin-bottom: 22px;
    font-size: 20%;
}

.헤더 {
    display: flex;
    /* background-color: red; */
    height: 70px;
    /* align-items: center; */
    justify-content: space-between;
    padding: 10px;
    padding-top: 0px;
    padding-left: 22px
}
.왼쪽헤더 {
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.왼쪽헤더 img {
    width: 100px;
    margin-left: 18px;
}
.왼쪽헤더 span {
    font-size: 170%;
    font-weight: 150;
}
.중간헤더 {
    /* background-color: blue; */
    display :flex;
    align-items: center;
    
}
.중간헤더 form{
    display: flex;
    align-items: center;
    height: 35px;
    
}
.중간헤더 input::placeholder{
    color:rgb(133, 130, 130);
} 
.중간헤더 input {
    /* width: 595px; */
    width: 32vw;
    border: 1px solid rgba(41, 41, 41, 0.214);
    border-right: 0px;
    border-bottom-left-radius: 1700px;
    border-top-left-radius: 1700px;
    padding-left: 17px;
    height: 115%;
    font-size: 16px;
}
#keyboard {
    padding-top : 7px;
    padding-bottom:7px;
    padding-right:7px;
    border-top: 1px solid rgba(41, 41, 41, 0.214);
    border-bottom: 1px solid rgba(41, 41, 41, 0.214);;
}

#a {
    font-weight: 10;
}
#b {
    border: none;
    height: 115%;
    width: 63px;
    border-bottom-right-radius: 999px;
    border-top-right-radius: 999px;
    border: 1px solid rgba(41, 41, 41, 0.214);
    background-color: f8f8f8;
    
}

#c {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: none;
    margin-left: 10px;
    background-color: f8f8f8;
}


.오른쪽헤더 {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.오른쪽헤더 span {
    -webkit-text-stroke: 1.3px #000;
    font-size: 170%;
     color:white;
    margin-left: 25px;
    
}
#account {
    margin-right: 22px;
}
.메인 {
    height: calc(100vh - 70px);
    display: flex;
}
.사이드바영역 {

    width: 235px;
    
}
.영상{
    margin-left :30px;
    width: 100%;
    margin-bottom : 30px;
}

.사이드바카테고리{
    display: flex;
    align-items: center;
    padding: 12px 25px
}
.사이드바카테고리 span{
    margin-right: 15px;
}
.사이드바카테고리 img{
    margin-left: -5px;
    margin-right: 10px;
    height: 27px;
    border:soild 1px black;
}
.사이드바카테고리 a{
    font-size : 92%;
    margin-left: 7px;
}
.영상{
    width: 310px;
}
.썸네일{
    width: 100%;
    height: 170px;
}
.썸네일 img{
    height: 100%;
    width: 100%;
}
.채널 img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.자세히보기{
    display: flex;
    margin-top: 10px;   
}
.설명 h3{
    margin : 0;
}
.설명 {
    display: flex;
    flex-direction: column;
}
.설명 a{
    text-decoration: none;
    color :black;
}
.영상포함{
    display: flex;
    flex-wrap: wrap;
}
.영상들 {
    width: 100%;
    overflow-y: scroll;
}